#nav-bar{
	width:21%;
	height: 100%;
	background-color: #e1e1e1;
	padding: 0px;
	margin: 0px;
}
#content-table{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0);
	overflow: hidden;
	border: 3px solid #ababab;
	border-radius: 50px;
}
#main-box{
	width: 100%;
	height: 100%;
	background-color: #ffffff;
}
.navLevel1{
	font-family: 'Open Sans', sans-serif;
	color: 555555;
	line-height: 28px;
	font-size: 18px;
	padding-left: 12px;
	padding-top: 6px;
	padding-bottom: 6px;
	margin-left: 12px;
}
.navLevel2{
	font-family: 'Open Sans', sans-serif;
	color: #818181;
	font-size: 16px;
	line-height: 14px;
	margin-left: 12px;
}
.nav1Highlighted{
	background-color: #ffffff;
	border-left: 6px solid #e71b68;
}
.nav2Highlighted{
	
}
#splash-text{
	font-family: 'Open Sans', sans-serif;
	font-size: 48px;
	width: 100%;
	text-align: center;
	padding-top: 100px;
}


button{
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	color: #e71b68;
	font-weight: bold;
	padding: 10px;
	background-color: #ffffff;
	border: 2px solid #e71b68;
	border-radius: 15px;
	width: 150px;
	margin: 48px;
}
button:hover{
	color: #ffffff;
	background-color: #e71b68;
}
button:focus{
	outline: none;
}
#dynamic-content-row{
	 height: 60%;
	 width: 100%;
	 position: relative;
}
.dc{
	width: 100%;
	height: auto;
	top: 30%;
	position: absolute;
	visibility: hidden;
	text-align: center;
	margin: auto 0;
}

.text1{
	font-family: 'Open Sans', sans-serif;
	font-size: 36px;
	padding-top: 100px;
}
.text2{
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
}
input[type=text]{
	padding: 12px;
	margin-left: 18px;
	border: 2px solid #444444;
	border-radius: 5px;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	color: #444444;
}

input[type=text]:focus{
	border: 2px solid #e71b68;
	outline: none;
}
select{
	width: 80%;
	padding: 12px;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	margin-top: 50px;
	background-color: #f1f1f1;
	border: none;
	border-radius: 5px;
}
select:focus{
	outline: none;
}
input[type=range] {
  -webkit-appearance: none;
  width: 80%;
  margin: 17.55px 0;
  display: block;
  position: relative;
  margin: 0 auto;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.9px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #ffffff;
  border-radius: 25px;
  border: 0.2px solid #c1c1c1;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 2.6px solid #e71b68;
  height: 44px;
  width: 15px;
  border-radius: 31px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -17.75px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ffffff;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.9px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #ffffff;
  border-radius: 25px;
  border: 0.2px solid #c1c1c1;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 2.6px solid #e71b68;
  height: 44px;
  width: 15px;
  border-radius: 31px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.9px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #ffffff;
  border: 0.2px solid #c1c1c1;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #ffffff;
  border: 0.2px solid #c1c1c1;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 2.6px solid #e71b68;
  height: 44px;
  width: 15px;
  border-radius: 31px;
  background: #ffffff;
  cursor: pointer;
  height: 8.9px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #ffffff;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ffffff;
}

.ares_table td {
	font-size: 30px;
}

.ares_table thead td {
	border-bottom: 1px solid black;
}

.ares_table tr td {
	padding-right: 50px;
}

.ares_table tbody tr td {
	border-right: 1px solid black;
}

.ares_table tbody tr td:first-child {
	border-left: 1px solid black;
}

.results-table{
	width: 80%;
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px; 
	overflow: hidden;
	border: 1px solid #ababab;
	border-radius: 20px;
	font-weight: bold;
	color: #444444;
}

.results-header-row{
	color: #ffffff;
	background-color: #e71b68;
}

.results-cell{
	padding: 6px;
}
